<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h1>
					{{title}}
				</h1>
			</div>
			<h2>
				Documentation
			</h2>
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li><a target="_new" href="https://github.com/godlikemouse/zenhance/wiki/Zenhance-Documentation">Zenhance Documentation</a></li>
						<li><a target="_new" href="https://github.com/godlikemouse/zenhance/wiki/Controller-Documentation">Controller Documentation</a></li>
						<li><a target="_new" href="https://github.com/godlikemouse/zenhance/wiki/View-Documentation">View Documentation</a></li>
						<li><a target="_new" href="https://github.com/godlikemouse/zenhance/wiki/Model-Documentation">Model Documentation</a></li>
						<li><a target="_new" href="https://github.com/godlikemouse/zenhance/wiki/Zenhance-API-Documentation">Zenhance API Documentation</a></li>
					</ul>
				</div>
			</div>
			<h2>
				Help
			</h2>
			<div class="row">
				<div class="col-md-12">
					<p>
						If you're stuck and the documentation isn't helping, submit an issue.
					</p>
					<ul>
						<li><a target="_new" href="https://github.com/godlikemouse/zenhance/issues">Issues</a></li>
					</ul>
				</div>
			</div>
			<h2>
				Community
			</h2>
			<div class="row">
				<div class="col-md-12">
					<p>
						Keep track of development and community news and more.
					</p>
					<ul>
						<li><a target="_new" href="https://twitter.com/collaboradev">Follow @Collaboradev on Twitter</a></li>
						<li><a target="_new" href="http://www.collaboradev.com">Follow the Collaboradev Blog</a></li>
					</ul>
				</div>
			</div>
			<h2>
				License
			</h2>
			<div class="row">
				<div class="col-md-12">
					Zenhance is released under <a target="_new" href="https://opensource.org/licenses/MIT">The MIT License (MIT)</a>
				</div>
			</div>
		</div>
	</body>
</html>
